@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
/* dark-1 */
.Dark-1{
    color: #131313;
}
/* dark-2 */
.text-gray{
    color: #424242;
}
/* dark-3 */
.text-light-gray{
    color: #727272;
}
.bg-color{
    background-color: rgba(255, 216, 14, 0.1);
}
.primary-btn{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.section-title{
    font-size: 2.81rem;
    font-weight: bold;
}

/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.81rem;
    
}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related css */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom:50px;
}
.banner-title{
    font-size: 4rem ;
    font-weight: 700;
}
.banner-image{
    max-width: 100%;
    margin-bottom: 45px;
}

/* Quick list of Our Features  */

.teams{
    align-items: center;
    margin: 85px auto 130px auto;
    gap: 73px;
    justify-content: center;   
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.Our-features{
    max-width: 530px;
    max-height: 300px;
}
.features-title{
    font-size: 2.81rem;
    max-width: 460px ;
    max-height: 100px;
    margin-bottom: 24px;
}
.Quick-list{
    font-weight: 400;
}
.orange-text{
    color: rgba(255, 144, 14, 1);
}

.features-description{
    max-width: 530px;
    max-height: 78px;
    font-size: 1rem ;
    font-weight: 400 ;
    margin-bottom: 32px;
}

/* Features you will love & enjoy section */
.features{
    /* display: flex; */
    max-width: 1440px;
    max-height: 1059px;
    margin: 0 auto 10px 30px;
    gap: 140px;
    padding-bottom: 20px;
}
.feature-text-part{
    max-width: 585px;
    max-height: 980px;
}
.card{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-top: 35px;
    padding-left: 20px;

}
.feature-card{
    padding: 30px 42px 30px 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin: 30px 0 20px 0;
    border-radius: 8px;

}
.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-img-part{
    max-width: 800px;
    max-height: 1059px;
}
.feature-img{
    max-width: 100%;
    max-height: 100%;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

/* some facts related styles */
.fact-section{
    margin-top: 100px;
}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}

/* sponsor related section */
.Our-Sponspors{
    margin-top: 180px;
}
.sponsor-info{
    max-width: 540px;
    margin: 180px auto 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}

/* footer sections css */
.footer{
    display: flex;
    background-color: rgba(255, 244, 231, 1);
    max-width: 1440px;
    max-height: 100px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    margin: 130px auto 200px auto;
    padding: 38px 410px;
}
.footer-copyright{
    max-width: 670px;
    font-size: 21px;
    font-weight: 500;
}
/* responsive media query for small device */
@media screen and (max-width: 576px) {
    .navbar,.nav-links,
    .teams, .features{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}
/* .team-img-container{
        grid-template-columns: 1fr;   er pashe .facts-container 
        alada kore      ..facts-container{ justify items center & gap 24px*/


/* responsive media query for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .features{
        flex-direction: column;
    }  
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    } 
    .features{
        margin-left: 50px;
    }
}


